<div class="panel panel-default">
    <div class="panel-body-top">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Resources.Resources.SearchOptionsTitle</h3>
                        <span class="pull-right flip clickable" id="pn_Transviewspan"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body" id="pn_Transviewbody">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-inline">
                                <div class="form-group">
                                    <label for="Transview_FromDate" class="control-label">@Resources.Resources.FromLable</label>
                                    <div class="input-group dateinput">
                                        <input type="text" id="Transview_FromDate" class="form-control dpt" data-date-autoclose="true" data-date-format="yyyy-mm-dd" data-date-language="@Resources.Resources.lang" placeholder="@Resources.Resources.FromDateLable" readonly>
                                        <span class="input-group-addon add-on" onclick="$('#Transview_FromDate').datepicker('show');"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="Transview_ToDate" class="control-label">@Resources.Resources.ToLable</label>
                                    <div class="input-group dateinput">
                                        <input type="text" id="Transview_ToDate" class="form-control dpt" data-date-autoclose="true" data-date-format="yyyy-mm-dd" data-date-language="@Resources.Resources.lang" placeholder="@Resources.Resources.ToDateLable" readonly>
                                        <span class="input-group-addon add-on" onclick="$('#Transview_ToDate').datepicker('show');"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                                <div class=" pull-right flip">
                                    <select id="dd_Transviewfilter" class="timesheet-filter">
                                        <option selected="selected" value="all">@Resources.Resources.AllLable</option>
                                        <option value="1">@Resources.Resources.SuccessTransLable</option>
                                        <option value="0">@Resources.Resources.FailedTransLabel</option>
                                        <option value="i">@Resources.Resources.ManulaAddLable</option>
                                        <option value="m">@Resources.Resources.ManulaEditLable</option>
                                        <option value="e">@Resources.Resources.IncludedTransLabel</option>
                                        <option value="n">@Resources.Resources.ExcludedTransLabel</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row top10-buffer">
                            <div class="col-md-12">
                                <div class="searchBy">
                                    <div class="col-md-3">
                                        <label for="txt_Select_TransviewSection" class="control-label">@Resources.Resources.SectionLabe</label>
                                        <div class="input-group">
                                            <input type="text" id="txt_Select_TransviewSection" class="form-control" placeholder="@Resources.Resources.SectionNameLable" data-id="0" readonly>
                                            <span class="input-group-addon add-on" onclick="if ($('#txt_Select_TransviewSection:not(:disabled)').length == 0) { return }; Select_Section_Control = $('#txt_Select_TransviewSection'); $('#SectionDialog').modal('show'); LoadSectionListTable()"><span class="glyphicon glyphicon-list-alt blue"></span></span>
                                            <span class="input-group-addon add-on" onclick="if ($('#txt_Select_TransviewSection:not(:disabled)').length == 0) { return }; $('#txt_Select_TransviewSection').attr('data-id', 0).val('').html('');"><span class="glyphicon glyphicon-remove red"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="txt_Select_TransviewBranch" class="control-label">@Resources.Resources.BranchLable</label>
                                        <div class="input-group">
                                            <input type="text" id="txt_Select_TransviewBranch" class="form-control" placeholder="@Resources.Resources.BranchNameLable" data-id="0" readonly>
                                            <span class="input-group-addon add-on" onclick="if ($('#txt_Select_TransviewBranch:not(:disabled)').length == 0) { return }; Select_Branch_Control = $('#txt_Select_TransviewBranch'); $('#BranchDialog').modal('show'); LoadBranchListTable()"><span class="glyphicon glyphicon-list-alt blue"></span></span>
                                            <span class="input-group-addon add-on" onclick="if ($('#txt_Select_TransviewBranch:not(:disabled)').length == 0) { return }; $('#txt_Select_TransviewBranch').attr('data-id', 0).val('').html('');"><span class="glyphicon glyphicon-remove red"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="txt_Select_TransviewEmployee" class="control-label">@Resources.Resources.EmployeeLable</label>
                                        <div class="input-group">
                                            <input type="text" id="txt_Select_TransviewEmployee" class="form-control" placeholder="@Resources.Resources.EmployeeNameLable" data-id="0" readonly>
                                            <span class="input-group-addon add-on" onclick="if ($('#txt_Select_TransviewEmployee:not(:disabled)').length == 0) { return }; Select_Employee_Control = $('#txt_Select_TransviewEmployee'); $('#EmployeeDialog').modal('show'); /*EmployeeListData = null;*/ LoadEmployeeListTable($('#txt_Select_TransviewSection').attr('data-id'), $('#txt_Select_TransviewBranch').attr('data-id'))"><span class="glyphicon glyphicon-list-alt blue"></span></span>
                                            <span class="input-group-addon add-on" onclick="if ($('#txt_Select_TransviewEmployee:not(:disabled)').length == 0) { return }; $('#txt_Select_TransviewEmployee').attr('data-id', 0).val('').html('');"><span class="glyphicon glyphicon-remove red"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="txt_Select_TransviewDevice" class="control-label">@Resources.Resources.DeviceNameLabel</label>
                                        <div class="input-group">
                                            <input type="text" id="txt_Select_TransviewDevice" class="form-control" placeholder="@Resources.Resources.DeviceNameLabel" data-id="0" readonly>
                                            <span class="input-group-addon add-on" onclick="if ($('#txt_Select_TransviewDevice:not(:disabled)').length == 0) { return }; Select_Device_Control = $('#txt_Select_TransviewDevice'); $('#DeviceDialog').modal('show');"><span class="glyphicon glyphicon-list-alt blue"></span></span>
                                            <span class="input-group-addon add-on" onclick="if ($('#txt_Select_TransviewDevice:not(:disabled)').length == 0) { return }; $('#txt_Select_TransviewDevice').attr('data-id', 0).val('').html('');"><span class="glyphicon glyphicon-remove red"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-centered">
                            <hr />
                            <button class="btn btn-success btn-lg" id="TransviewbtSearch" onclick="SearchTransaction();">@Resources.Resources.btSearch </button>
                            <button class="btn btn-info btn-lg" id="printTransactions">@Resources.Resources.btPrint </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body-top fixed-panelWithScrollTimeSheet">

                        <div id="TransviewTimeSheetTablediv">
                            <table id="TransviewTimeSheetTable" class="table  table-bordered timesheet-table" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>@Resources.Resources.ClmEmpNo </th>
                                        <th>@Resources.Resources.ClmEmployeeName</th>
                                        <th>@Resources.Resources.ClmDate</th>
                                        <th>@Resources.Resources.ClmTime</th>
                                        <th>@Resources.Resources.ClmStatus</th>
                                        <th>@Resources.Resources.DeviceNameLabel</th>
                                        <th>@Resources.Resources.ClmIncludeExclude</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" id="DeviceDialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-right flip">
                    <button type="button" class="btn btn-toolbar space2" onclick="DevicesListData = null;LoadDevicesListTable();" title="@Resources.Resources.btReload"><span class="glyphicon glyphicon-refresh"></span></button>

                    <button type="button" class="btn btn-toolbar space2" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <h4 class="modal-title" id="gridSystemModalDeviceDialogLabel">@Resources.Resources.DeviceListTitle </h4>

            </div>
            <div class="modal-body">
                <div id="DeviceListTablediv">
                    <table id="DeviceListTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>@Resources.Resources.DeviceNameLabel</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
