<div class="panel panel-default">
    <div class="panel-body-top">
        <div class="pull-right flip padding10bottom">
            <button class="btn btn-info btn-md" id="bt_AddExcuseReason">@Resources.Resources.btAdd</button>
            <button class="btn btn-primary btn-md" id="bt_ReloadExcuseReason" onclick="ReloadExcuseReasons();">@Resources.Resources.btReload</button>
        </div>

        <table id="ExcuseReasonTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>@Resources.Resources.ExcuseReason</th>
                    <th>@Resources.Resources.ExcuseReasonEn</th>
                    <th>@Resources.Resources.ExcuseTypeLable</th>
                    <th>@Resources.Resources.ClmEdit</th>
                    <th>@Resources.Resources.ClmDelete</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="modal fade unfold-3d" role="dialog" id="ExcuseReasonDialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<div class="pull-right flip">

                        </div>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalExcuseReason">@Resources.Resources.ExcuseReasonAddTitle </h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body texr-start">
                            <div class="row">
                                <form class="form form-horizontal" data-delay="0" role="form" id="ExcuseReasonForm">
                                    <div class="col-md-12 ">

                                        <div class="form-group has-feedback">
                                            <label for="ExcuseType" class="control-label col-md-2"> @Resources.Resources.ExcuseTypeLable  </label>
                                            <div class="col-md-9 ExcuseTypeRadios columns">
                                                <label for="RB_ExcuseNormalType" class="radio-inline">
                                                    <input id="RB_ExcuseNormalType" name="ExcuseType" value="1" type="radio">
                                                    @Resources.Resources.NormalLable
                                                </label>
                                                <label for="RB_ExcuseJobType" class="radio-inline">
                                                    <input id="RB_ExcuseJobType" name="ExcuseType" value="2" type="radio">
                                                    @Resources.Resources.JobMissionLable
                                                </label>
                                                <label for="RB_RemotelyWorkType" class="radio-inline">
                                                    <input id="RB_RemotelyWorkType" name="ExcuseType" value="3" type="radio">
                                                    @Resources.Resources.RemotelyWorkLable
                                                </label>
                                                <label for="RB_SpecialType" class="radio-inline">
                                                    <input id="RB_SpecialType" name="ExcuseType" value="4" type="radio">
                                                    @Resources.Resources.SpecialDaysLable
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">

                                        <div class="form-group has-feedback">
                                            <label for="txt_ExcuseReasonName_Edit" class="control-label col-xs-2 col-sm-3 col-md-2">@Resources.Resources.ExcuseReason  </label>
                                            <div class="col-xs-10 col-sm-9 col-md-10">
                                                <div>
                                                    <input type="text" id="txt_ExcuseReasonName_Edit" class="form-control" placeholder="@Resources.Resources.ExcuseReason" data-required="true" data-error="@Resources.Resources.FieldRequiredValidationMsg">
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                    <span class="help-block with-errors smallmargin-bottom pull-left flip"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">

                                        <div class="form-group has-feedback">
                                            <label for="txt_ExcuseReasonNameEN_Edit" class="control-label col-xs-2 col-sm-3 col-md-2">@Resources.Resources.ExcuseReasonEn  </label>
                                            <div class="col-xs-10 col-sm-9 col-md-10">
                                                <div>
                                                    <input type="text" id="txt_ExcuseReasonNameEN_Edit" class="form-control" placeholder="@Resources.Resources.ExcuseReasonEn" data-required="true" data-error="@Resources.Resources.FieldRequiredValidationMsg">
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                    <span class="help-block with-errors smallmargin-bottom pull-left flip"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-lg" id="bt_saveExcuseReason"><span class="glyphicon glyphicon-ok"></span> @Resources.Resources.btSave</button>
                    <button type="button" class="btn btn-warning btn-lg" id="bt_CancelExcuseReason" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>@Resources.Resources.btCancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>  
