@if (User == null)
{
    <div></div>
}

else
{
    <div id="ChangePasswordFormDialog" class="modal fade" data-backdrop="static" role="dialog">
        
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="pull-right flip">
                        <button type="button" class="btn btn-toolbar space2" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <h4 class="modal-title" id="gridSystemModalChangePasswordTitle">@Resources.Resources.ChangePassword </h4>
                </div>
                <div class="modal-body texr-start">
                    <div class="row">
                        <form data-toggle="validator" class="form-horizontal" data-delay="0" role="form" id="frmChangePasswordFormDialog">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label for="txt_UserName_Display" class="control-label col-xs-2 col-sm-3 col-md-3">@Resources.Resources.UserNameLable </label>
                                    <input type="text" id="txt_UserName_Display" class="form-control col-xs-10 col-sm-9 col-md-9" placeholder="@Resources.Resources.UserNameLable" value="@User.UserName" data-id="0" readonly>
                                </div>
                            </div>
                            @if (User.MustChangePassword == false)
                            {
                                <div class="col-md-12 ">

                                    <div class="form-group">
                                        <label for="txt_CurrentPassword_Edit" class="control-label col-xs-2 col-sm-3 col-md-3">@Resources.Resources.CurrentPasswordLable </label>
                                        <input type="password" id="txt_CurrentPassword_Edit" class="form-control col-xs-10 col-sm-9 col-md-9" placeholder="@Resources.Resources.CurrentPasswordLable" data-id="0">
                                    </div>
                                </div>
                            }
                            
                            <div class="col-md-12 ">

                                <div class="form-group">
                                    <label for="txt_NewPassword_Edit" class="control-label col-xs-2 col-sm-3 col-md-3">@Resources.Resources.NewPasswordLable </label>
                                    <input type="password" id="txt_NewPassword_Edit" class="form-control col-xs-10 col-sm-9 col-md-9" placeholder="@Resources.Resources.NewPasswordLable" data-id="0">
                                </div>

                            </div>
                            <div class="col-md-12 ">

                                <div class="form-group">
                                    <label for="txt_ConfirmPassword_Edit" class="control-label col-xs-2 col-sm-3 col-md-3">@Resources.Resources.ConfirmPasswordLable </label>

                                    <input type="password" id="txt_ConfirmPassword_Edit" class="form-control col-xs-10 col-sm-9 col-md-9" placeholder="@Resources.Resources.ConfirmPasswordLable" data-id="0">
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg" id="bt_ChangePassword" onclick="saveChangePassword();"><span class="glyphicon glyphicon-ok"></span> @Resources.Resources.ChangePassword</button>
                    <button type="button" class="btn btn-warning btn-lg" id="bt_CancelChangePassword" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>@Resources.Resources.btCancel
                    </button>
                </div>
            </div>
        </div>
    </div>
}


