<div class="modal fade" role="dialog" id="ShiftDialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-right flip">
                    <button type="button" class="btn btn-toolbar space2" id="bt_referesh_shiftdata" onclick="ReloadShiftListTable()" title="@Resources.Resources.btReload"><span class="glyphicon glyphicon-refresh"></span></button>

                    <button type="button" class="btn btn-toolbar space2"  aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <h4 class="modal-title" id="gridSystemModalSchLabel">@Resources.Resources.ShiftListTitle </h4>

            </div>
            <div class="modal-body">
                <div id="ShiftListTablediv">
                    <table id="ShiftListTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>@Resources.Resources.tabShifts</th>
                                <th>@Resources.Resources.TimeFromLable</th>
                                <th>@Resources.Resources.TimeToLable</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>