<form class="form-horizontal" data-toggle="validator" data-delay="0" role="form" id="SecForm">
    <fieldset id="sectionfieldset">
        <legend>@Resources.Resources.SectionInformation</legend>
        <div class="secFormdiv">
            <div class="form-group  has-feedback">
                <label for="txt_SecNo_edit" class="control-label col-xs-2 col-sm-3">@Resources.Resources.SectionNoLable</label>
                <div class="col-xs-10 col-sm-9">
                    <input type="text" class="form-control" id="txt_SecNo_edit" placeholder="@Resources.Resources.SectionNoLable" required data-error="@Resources.Resources.FieldRequiredValidationMsg">
                    <span class="glyphicon form-control-feedback pull-right flip" aria-hidden="true"></span>
                    <span class="help-block with-errors"></span>
                </div>
            </div>

            <div class="form-group  has-feedback">
                <label for="txt_SecName_edit" class="control-label col-xs-2 col-sm-3">@Resources.Resources.SectionNameLable </label>
                <div class="col-xs-10 col-sm-9">
                    <input type="text" class="form-control " id="txt_SecName_edit" placeholder="@Resources.Resources.SectionNameLable" required data-error="@Resources.Resources.FieldRequiredValidationMsg">
                    <span class="glyphicon form-control-feedback pull-right flip" aria-hidden="true"></span>
                    <span class="help-block with-errors"></span>
                </div>
            </div>
            <div class="form-group  has-feedback">
                <label for="txt_SecLoc_edit" class="control-label col-xs-2 col-sm-3">@Resources.Resources.SectionLocationLable </label>
                <div class="col-xs-10 col-sm-9">
                    <input type="text" class="form-control" id="txt_SecLoc_edit" placeholder="@Resources.Resources.SectionLocationLable">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="txt_Select_Employee" class="control-label col-xs-2 col-sm-3">@Resources.Resources.SectionManagerLable</label>
                <div class="col-xs-10 col-sm-9">
                
                    <div class="input-group">
                        <input type="text" id="txt_Select_Employee" class="form-control" placeholder="@Resources.Resources.ClmEmployeeName" data-id="0" readonly>
                        <span class="input-group-addon add-on" onclick="if ($('#txt_Select_Employee:not(:disabled)').length == 0) { return }; Select_Employee_Control = $('#txt_Select_Employee'); $('#EmployeeDialog').modal('show'); LoadEmployeeListTable(0, 0)"><span class="glyphicon glyphicon-list-alt blue"></span></span>
                        <span class="input-group-addon add-on" onclick="if ($('#txt_Select_Employee:not(:disabled)').length == 0) { return }; $('#txt_Select_Employee').attr('data-id', 0).val('').html('');"><span class="glyphicon glyphicon-remove red"></span></span>
                    </div>
                    <span class="help-block with-errors"></span>
                </div>

            </div>

            <div class="form-group">
                <label fro="txt_Select_Schedule" class="control-label col-xs-2 col-sm-3">@Resources.Resources.ScheduleNameLable</label>
                <div class="col-xs-10 col-sm-9">

                    <div class="input-group">
                        <input type="text" id="txt_Select_Schedule" class="form-control" placeholder="@Resources.Resources.ScheduleNameLable" data-id="0" readonly>
                        <span class="input-group-addon add-on" onclick="if ($('#txt_Select_Schedule:not(:disabled)').length == 0)  return; Select_Schedule_Control = $('#txt_Select_Schedule'); $('#ScheduleDialog').modal('show'); LoadScheduleListTable()"><span class="glyphicon glyphicon-list-alt blue"></span></span>
                        <span class="input-group-addon add-on" onclick="if ($('#txt_Select_Schedule:not(:disabled)').length == 0) return; $('#txt_Select_Schedule').attr('data-id', 0).val('').html('');"><span class="glyphicon glyphicon-remove red"></span></span>
                    </div>
                        <span class="help-block with-errors"></span>
                </div>
            </div>



            <div class="form-group ">

                <label for="chk_SendNotification" class="control-label col-xs-2 col-sm-3">@Resources.Resources.SendNotificationsLable</label>
                <div class="col-xs-10 col-sm-9 checkbox" id="togglechk">
                    <input data-toggle="toggle" data-on="@Resources.Resources.chkEnabled" data-off="@Resources.Resources.chkDesabled" type="checkbox" id="chk_SendNotification">
                </div>
            </div>

        </div>
        <hr class="colorgraph" />
        <div class="">
            <button type="submit" class="btn btn-primary btn-lg" id="bt_saveSection"><span class="glyphicon glyphicon-ok"></span> @Resources.Resources.btSave</button>
            <button type="button" class="btn btn-warning btn-lg" id="bt_Cancel">
                <span class="glyphicon glyphicon-remove"></span>@Resources.Resources.btCancel
            </button>
        </div>

    </fieldset>
</form>
